body {
    background-color: #00112d;
    color: #b6d3ff;
    font-family: 'Raleway', sans-serif;
    font-weight: 800;
    text-align: center;
}

#header {
    background-color: #001c49;
}

footer {
    bottom: 0;
    margin-top: 5rem;
    width: 100%;
}

#page-container {
    position: relative;
    min-height: 100vh;
}

#content-wrap {
    padding-bottom: 10rem;
    /* Footer height */
}

#footer {
    position: absolute;
    bottom: 0;
    width: 100%;
    height: 10rem;
    /* Footer height */
}

h1 {
    font-family: 'Cinzel', serif;
    padding-bottom: 0;
    padding-top: 2.5rem;
}

h2 {
    font-family: 'Cinzel', serif;
}

h3 {
    font-family: 'Cinzel', serif;
    padding-top: 2rem;
}

h5 {
    font-family: 'Raleway', sans-serif;
    font-weight: 600;
    padding-top: 1rem;
    padding-bottom: 3rem;
}

.content {
    padding: 0 10%;
}

/* Navigation tabs */
.nav-link {
    font-family: 'Cinzel', serif;
    font-weight: 800;
}
.nav-tabs {
    background-color: #001c49;
    border-bottom: 0px;
}
#tabs {
    background: #00112d;
    color: #eee;
}

#tabs h6.section-title {
    color: #eee;
}

#tabs .nav-tabs .nav-item.show .nav-link,
.nav-tabs .nav-link.active {
    color: white;
    background-color: transparent;
    border-color: transparent transparent white;
    border-bottom: 4px solid !important;
    font-size: 20px;
    font-weight: bold;
}

#tabs .nav-tabs .nav-link {
    border: 1px solid transparent;
    border-top-left-radius: .25rem;
    border-top-right-radius: .25rem;
    color: white;
    font-size: 20px;
}

/* Games section */
.card {
    background-color: #0f141c;
    border-color: #4f5e74;
    border-width: 2px;
    border-radius: 0 5pt 5pt 0;
    margin: 3rem 0;
}

.card-body {
    text-align: left;
    padding: 8%;
    padding-left: 10%;
}

.col {
    padding: 0;
}

.btn-play {
    background-color: #b6d3ff;
    color: black;
}

/* Video embed */
@media only screen and (min-width: 768px) {
    iframe {
        height: 13em;
    }

    .card {
        width: 100%;
    }
}

/* Footer */
.btn-social {
    border-color: rgb(95, 95, 95);
    border-radius: 100%;
    color: white;
    font-size: 1.1rem;
}