/* https://colorhunt.co/palette/fff2d8ead7bbbca37f113946 */

html, body { margin: 0; padding: 0; } 

body {
    background-color: #FFF2D8;
    color: #113946;
    font-family: 'Bellefair', 'Raleway', sans-serif;
    font-weight: 400;
    text-align: center;
}

#page-container {
    min-height: 100vh;
    position: relative;
}

#content-wrap {
    padding-bottom: 17rem;
}

#header {
    background-color: #BCA37F;
}

#footer {
    bottom: 0;
    height: 10rem;
    position: absolute;
    width: 100%;
}

h1 {
    font-family: 'IM Fell Double Pica SC', serif;
    letter-spacing: 2px;
    font-size: calc(1rem + 5vw);
    padding-bottom: 0;
    padding-top: 2.5rem;
    color: #113946;
}

h2 {
    font-family: 'IM Fell Double Pica SC', serif;
    letter-spacing: 2px;
    margin-bottom: 0%;
    font-size: calc(1rem + 3vw);
    color: #113946;
}

h3 {
    font-family: 'IM Fell Double Pica SC', serif;
    letter-spacing: 2px;
    padding-top: 0rem;
}

h5 {
    color: #113946;
    font-family: 'IM Fell Double Pica SC', sans-serif;
    letter-spacing: 2px;
    font-weight: 600;
    font-size: 2rem;
    padding-bottom: 2rem;
    padding-top: 0rem;
    margin-bottom: 0px;
}

hr {
    height: 6px;
    color: #EAD7BB;
    background-color: #EAD7BB;
    margin: 5pt;
    opacity: 100%;
}

a {
    color: #ba4806;
}

a:hover {
    color: #078ebc;
}

.subsubtitle {
    color: #113946;
    font-size: 1.5rem;
}

.content {
    padding: 0 10%;
}

/* Navigation tabs */
.nav-link {
    font-family: 'IM Fell Double Pica SC', serif;
    letter-spacing: 2px;
    font-weight: 800;
}

.nav-tabs {
    background-color: #EAD7BB;
    border-bottom: 0px;
}

#tabs {
    background: #FFF2D8;
    color: #113946;
    font-size: calc(12px + 1.5vw);
}

#tabs h6.section-title {
    color: #113946;
}

#tabs .nav-tabs .nav-item.show .nav-link,
.nav-tabs .nav-link.active {
    background-color: transparent;
    border-bottom: 4px solid !important;
    border-color: transparent transparent #113946;
    color: #113946;
    font-size: 20px;
    font-weight: bold;
}

#tabs .nav-tabs .nav-link {
    border-top-left-radius: .25rem;
    border-top-right-radius: .25rem;
    border: 1px solid transparent;
    color: #113946;
    font-size: calc(1rem + 0.5vw);
}

/* Games section */
.cards-section-header {
    margin-top: 3rem;
}

.section-description {
    font-size: 1.5rem;
    margin: 0 10%;
}

.card {
    background-color: #EAD7BB;
    border-color: #BCA37F;
    border-radius: 5pt 5pt 5pt 5pt;
    border-width: 6px;
    margin: 3rem auto;
    max-width: 70rem;
    padding: 3%;
}

.card-video {
    padding-bottom: 5%;
}
.card-image {
    padding-bottom: 5%;
}
.card-body {
    font-size: 1.2rem;
    padding: 0% 10%;

    text-align: left;
}

.card-title {
    padding-bottom: 0px;
    padding-top: 0px;
}

.card-subtitle {
    padding: 0px;
}

.card-text {
    font-size: 1rem;
    margin: 0px;
}

.tabletop-card-image {
    display: block;
    max-width:800px;
    max-height:600px;
    width: auto;
    height: auto;
}

.col {
    padding: 0;
}

.btn-play {
    background-color: #FFF2D8;
    color: #113946;
    font-family: 'IM Fell Double Pica SC', serif;
    letter-spacing: 1px;
    font-size: 1.5rem;
    border-color: #BCA37F;
    border-width: 4px;
    margin-bottom: 5%;
}

.btn-play-padded {
    margin-top: 5%;
}

/* Video embed */
@media only screen and (min-width: 768px) {
    iframe {
        height: 13em;
    }

    .card {
        width: 100%;
    }
}


/* Bubbles */
.bubbles {
    font-size: 1rem;
    text-align: left;
    display: flex;
    flex-wrap: wrap;
}

.bubble {
    padding: 1pt 10pt;
    border: #BCA37F;
    background-color: #EAD7BB;
    border-style: solid;
    border-radius: 15pt;
    margin-right: 5pt;
    margin-top: 3pt;
    margin-bottom: 3pt;
}

.cv-bubbles {
    display: flex;
    width: 100%;
}

.cv-bubble {
    padding: 1pt 10pt;
    border: #BCA37F;
    background-color: #FFF2D8;
    border-style: solid;
    border-radius: 15pt;
    margin-right: 5pt;
    margin-top: 3pt;
    margin-bottom: 3pt;
}

/* Footer */
.btn-social {
    border-color: #FFF2D8;
    border-radius: 100%;
    color: #FFF2D8;
    font-size: 1.5rem;
}

.myfooter {
    display: flex;
    flex-wrap: nowrap;
}

.footer-copyright {
    background-color: #113946;
    color: #FFF2D8;
}

.footer-socials {
    background-color: #113946;
    color: #FFF2D8;
}

.btn:hover {
    --bs-btn-color: #113946;
    --bs-btn-border-color: #FFF2D8;
    --bs-btn-hover-color: #113946;
    --bs-btn-hover-bg: #FFF2D8;
    --bs-btn-hover-border-color: #113946;
    --bs-btn-active-color: #000;
    --bs-btn-active-bg: #f8f9fa;
    --bs-btn-active-border-color: #f8f9fa;
}
.btn-youtube:hover {
    --bs-btn-hover-bg: white;
    --bs-btn-hover-color: red;
}
.btn-artstation:hover {
    --bs-btn-hover-bg: black;
    --bs-btn-hover-color: #12AAE8;
}

.btn-github:hover {
    --bs-btn-hover-bg: black;
    --bs-btn-hover-color: white;
}

/* Odyssey */
.odyssey-intro {
    font-size: 1.5rem;
    margin: 0 25%;
}

/* About Me */
.cv-section {
    margin: 0 15%;
}

.cv-section-title {
    font-size: 2rem;
    margin: 0 5%;
    text-align: left;
}

.cv-section-header {
    display: inline-block;
    font-size: 1rem;
    margin: 0 5%;
    width: 90%;
}

.cv-header-role {
    font-family: 'IM Fell Double Pica SC', serif;
    font-size: 1.5rem;
    text-align: left;
    float: left;
    width: 60%;
}

.cv-header-date {
    text-align: right;
    float: right;
    width: 40%;
}

.cv-header-institution {
    font-size: 1.2rem;
    text-align: left;
    float: left;
    width: 50%;
}

.cv-header-location {
    text-align: right;
    float: right;
    width: 50%;
}

.cv-body {
    display: flex;
    font-size: 1rem;
    text-align: left;
    width: 100%;
    padding-top: 5pt;
}

.cv-item {
    margin-top: 5pt;
    margin-bottom: 25pt;
}

.about-me-text {
    margin-top: 20pt;
    margin-bottom: 20pt;
}

.interests {
    display: inline-flex;
}

.interest-icon {
    font-size: 4rem;
    color: #BCA37F;
    margin-top: 20pt;
    padding-right: 20pt;
    padding-left: 20pt;

}