/* https://colorhunt.co/palette/fff2d8ead7bbbca37f113946 */

html, body { margin: 0; padding: 0; } 

body {
    background-color: #FFF2D8;
    color: #113946;
    font-family: 'Bellefair', 'Raleway', sans-serif;
    font-weight: 400;
    text-align: center;
}

#page-container {
    min-height: 100vh;
    position: relative;
}

#content-wrap {
    padding-bottom: 17rem;
}

#header {
    background-color: #BCA37F;
}

#footer {
    bottom: 0;
    height: 10rem;
    position: absolute;
    width: 100%;
}

h1 {
    font-family: 'IM Fell Double Pica SC', serif;
    letter-spacing: 2px;
    font-size: calc(1rem + 5vw);
    padding-bottom: 0;
    padding-top: 2.5rem;
    color: #113946;
}

h2 {
    font-family: 'IM Fell Double Pica SC', serif;
    letter-spacing: 2px;
    margin-bottom: 0%;
    font-size: calc(1rem + 3vw);
    color: #113946;
}

h3 {
    font-family: 'IM Fell Double Pica SC', serif;
    letter-spacing: 2px;
    padding-top: 2rem;
}

h5 {
    color: #113946;
    font-family: 'IM Fell Double Pica SC', sans-serif;
    letter-spacing: 2px;
    font-weight: 600;
    font-size: 2rem;
    padding-bottom: 2rem;
    padding-top: 1rem;
    margin-bottom: 0px;
}

.tabletop-title {
    font-size: 3rem;
    margin-top: 5rem;
}
.subsubtitle {
    color: #113946;
    font-size: 1.5rem;
}

.content {
    padding: 0 10%;
}

/* Navigation tabs */
.nav-link {
    font-family: 'IM Fell Double Pica SC', serif;
    letter-spacing: 2px;
    font-weight: 800;
}

.nav-tabs {
    background-color: #EAD7BB;
    border-bottom: 0px;
}

#tabs {
    background: #FFF2D8;
    color: #113946;
    font-size: calc(12px + 1.5vw);
}

#tabs h6.section-title {
    color: #113946;
}

#tabs .nav-tabs .nav-item.show .nav-link,
.nav-tabs .nav-link.active {
    background-color: transparent;
    border-bottom: 4px solid !important;
    border-color: transparent transparent #113946;
    color: #113946;
    font-size: 20px;
    font-weight: bold;
}

#tabs .nav-tabs .nav-link {
    border-top-left-radius: .25rem;
    border-top-right-radius: .25rem;
    border: 1px solid transparent;
    color: #113946;
    font-size: calc(1rem + 0.5vw);
}

/* Games section */
.cards-section-header {
    margin-top: 3rem;
}

.card {
    background-color: #EAD7BB;
    border-color: #BCA37F;
    border-radius: 5pt 5pt 5pt 5pt;
    border-width: 6px;
    margin: 3rem auto;
    max-width: 70rem;
    padding: 3%;
}

.video {
    padding-bottom: 5%;
}

.card-body {
    font-size: 1rem;
    padding: 0% 10%;

    text-align: left;
}

.card-title {
    padding-bottom: 0px;
    padding-top: 0px;
}

.card-subtitle {
    padding: 0px;
}

.card-text {
    font-size: 1rem;
    margin: 0px;
}

.tabletop-card-image {
    display: block;
    max-width:800px;
    max-height:600px;
    width: auto;
    height: auto;
}

.col {
    padding: 0;
}

.btn-play {
    background-color: #FFF2D8;
    color: #113946;
    font-family: 'IM Fell Double Pica SC', serif;
    letter-spacing: 1px;
    font-size: 1.5rem;
    border-color: #BCA37F;
    border-width: 4px;

}



/* Video embed */
@media only screen and (min-width: 768px) {
    iframe {
        height: 13em;
    }

    .card {
        width: 100%;
    }
}

/* Footer */
.btn-social {
    border-color: #FFF2D8;
    border-radius: 100%;
    color: #FFF2D8;
    font-size: 2rem;
}

.myfooter {
    display: flex;
    flex-wrap: nowrap;
}
.footer-copyright {
    background-color: #113946;
    color: #FFF2D8;
}

.footer-socials {
    background-color: #113946;
    color: #FFF2D8;
}